<amexio-card [footer]="true" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
    <amexio-header>
        Login Page
    </amexio-header>
    <amexio-body>
        <amexio-row>
            <amexio-column size="6">
                <amexio-text-input [field-label]="'Login'" [(ngModel)]="testuiModel.login" name="testuiModel.login" [place-holder]="'Login'" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true" (onBlur)="onBlur_login($event)" (input)="input_login($event)"
                    (focus)="focus_login($event)">
                </amexio-text-input>
            </amexio-column>
            <amexio-column size="6">
                <amexio-password-input [field-label]="'Password'" [(ngModel)]="testuiModel.password" name="testuiModel.password" [place-holder]="'password'" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true" (onBlur)="onBlur_password($event)"
                    (input)="input_password($event)" (focus)="focus_password($event)">
                </amexio-password-input>
            </amexio-column>
        </amexio-row>


    </amexio-body>

    <amexio-action>
        <amexio-button [label]="'Login'" [type]="'default'" [tooltip]="'button'" [size]="'default'" [form-bind]="'loginBtn'" (onClick)="onClick_loginBtn($event)">
        </amexio-button>

    </amexio-action>
</amexio-card>