<amexio-datagrid [title]="'Data Grid'" [page-size]="8" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/emp/findall'" [http-method]="'get'">
    <amexio-data-table-column [text]="'First Name'" [data-index]="'firstName'" [data-type]="'string'">
    </amexio-data-table-column>
    <amexio-data-table-column [text]="'Last Name'" [data-index]="'lastName'" [data-type]="'string'">
    </amexio-data-table-column>
    <amexio-data-table-column [text]="'Gender'" [data-index]="'gender'" [data-type]="'string'">
    </amexio-data-table-column>
    <amexio-data-table-column [text]="'Phone'" [data-index]="'phone'" [data-type]="'string'">
    </amexio-data-table-column>
    <amexio-data-table-column [text]="'Email'" [data-index]="'email'" [data-type]="'string'" [hidden]="true">
    </amexio-data-table-column>
</amexio-datagrid>