<amexio-row>
    <amexio-column size="12">
        <amexio-dropdown [(ngModel)]="employeedetailspageModel.employeeList" name="employeedetailspageModel.employeeList" [field-label]="'Employee List'" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/emp/findall'" [http-method]="'get'" [display-field]="'firstName'"
            [value-field]="'id'" (onSingleSelect)="onSingleSelect_employeeList($event)">
        </amexio-dropdown>
    </amexio-column>
</amexio-row>

<amexio-card [footer]="true" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
    <amexio-header>
        Employee Details New
    </amexio-header>
    <amexio-body>
        <amexio-row>
            <amexio-column size="6">
                <amexio-text-input [field-label]="'First Name'" [(ngModel)]="employeedetailspageModel.firstName" name="employeedetailspageModel.firstName" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
                </amexio-text-input>
            </amexio-column>
            <amexio-column size="6">
                <amexio-text-input [field-label]="'Last Name'" [(ngModel)]="employeedetailspageModel.lastName" name="employeedetailspageModel.lastName" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
                </amexio-text-input>
            </amexio-column>
        </amexio-row>

        <amexio-row>
            <amexio-column size="6">
                <amexio-number-input [field-label]="'Age'" [(ngModel)]="employeedetailspageModel.age" name="employeedetailspageModel.age" [allow-blank]="true" [font-size]="10" [has-label]="true" [min-value]="0" [max-value]="20">
                </amexio-number-input>
            </amexio-column>
            <amexio-column size="6">
                <amexio-email-input [field-label]="'Email'" [(ngModel)]="employeedetailspageModel.email" name="employeedetailspageModel.email" [allow-blank]="true" [font-size]="10" [has-label]="true">
                </amexio-email-input>
            </amexio-column>
        </amexio-row>

        <amexio-row>
            <amexio-column size="6">
                <amexio-number-input [field-label]="'Employee Id'" [(ngModel)]="employeedetailspageModel.employeeId" name="employeedetailspageModel.employeeId" [allow-blank]="true" [font-size]="10" [has-label]="true" [min-value]="0" [max-value]="20">
                </amexio-number-input>
            </amexio-column>
            <amexio-column size="6">
                <amexio-dropdown [(ngModel)]="employeedetailspageModel.department" name="employeedetailspageModel.department" [field-label]="'Department'" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/dept/findall'" [http-method]="'get'" [display-field]="'name'"
                    [value-field]="'id'">
                </amexio-dropdown>
            </amexio-column>
        </amexio-row>


    </amexio-body>

    <amexio-action>

    </amexio-action>
</amexio-card>