<amexio-card [footer]="true" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
    <amexio-header>
        Form Layout
    </amexio-header>
    <amexio-body>
        <amexio-row>
            <amexio-column size="4">
                <amexio-text-input [field-label]="'First Name'" [(ngModel)]="employeeModel.firstName" name="employeeModel.firstName" [place-holder]="'Please enter first name'" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
                </amexio-text-input>
            </amexio-column>
            <amexio-column size="4">
                <amexio-text-input [field-label]="'Last Name'" [(ngModel)]="employeeModel.lastName" name="employeeModel.lastName" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
                </amexio-text-input>
            </amexio-column>
            <amexio-column size="4">
                <amexio-radio-group [field-label]="'Gender'" name="employeeModel.gender" [display-field]="'gender'" [value-field]="'genderId'" [data]="radiogroupData" [horizontal]="true">
                </amexio-radio-group>
            </amexio-column>
        </amexio-row>

        <amexio-row>
            <amexio-column size="4">
                <amexio-email-input [field-label]="'Email'" [(ngModel)]="employeeModel.email" name="employeeModel.email" [allow-blank]="true" [font-size]="10" [has-label]="true">
                </amexio-email-input>
            </amexio-column>
            <amexio-column size="4">
                <amexio-text-input [field-label]="'Phone'" [(ngModel)]="employeeModel.phone" name="employeeModel.phone" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
                </amexio-text-input>
            </amexio-column>
            <amexio-column size="4">
                <amexio-number-input [field-label]="'Age'" [(ngModel)]="employeeModel.age" name="employeeModel.age" [allow-blank]="true" [font-size]="10" [has-label]="true" [min-value]="0" [max-value]="20">
                </amexio-number-input>
            </amexio-column>
        </amexio-row>

        <amexio-row>
            <amexio-column size="4">
                <amexio-dropdown [(ngModel)]="employeeModel.department" name="employeeModel.department" [search]="true" [field-label]="'Department'" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/dept/findall'" [http-method]="'get'" [data]="department_Data"
                    [display-field]="'name'" [value-field]="'id'">
                </amexio-dropdown>
            </amexio-column>
            <amexio-column size="4">
                <amexio-dropdown [(ngModel)]="employeeModel.country" name="employeeModel.country" [search]="true" [field-label]="'Country'" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/country/findall'" [http-method]="'get'" [data]="country_Data" [display-field]="'countryName'"
                    [value-field]="'id'" (click)="click_country($event)">
                </amexio-dropdown>
            </amexio-column>
            <amexio-column size="4">
                <amexio-dropdown [(ngModel)]="employeeModel.state" name="employeeModel.state" [search]="true" [field-label]="'States'" [data]="state_Data" [display-field]="'stateName'" [value-field]="'stateId'">
                </amexio-dropdown>
            </amexio-column>
        </amexio-row>


    </amexio-body>

    <amexio-action>
        <amexio-button [label]="'Cancel'" [icon]="'fa fa-close fa 2x'" [type]="'default'" [tooltip]="'button'" [size]="'default'" [form-bind]="'cancel'">
        </amexio-button>
        <amexio-button [label]="'Save'" [icon]="'fa fa-save  fa 2x'" [type]="'theme-color'" [tooltip]="'save'" [size]="'default'" [form-bind]="'save'" (click)="click_save($event)">
        </amexio-button>

    </amexio-action>
</amexio-card>