<amexio-row>
    <amexio-column size="7">
        <amexio-card [footer]="true" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
            <amexio-header>
                Company Performance
            </amexio-header>
            <amexio-body>
                <amexio-chart-bar [data]="companyPerchartLocalData" [height]="'400px'" [width]="'100%'">

                    <amexio-chart-title [title]="'Company Performance'" [font-size]="15">
                    </amexio-chart-title>

                    <amexio-chart-legend [max-lines]="2" [font-name]="'Times-Roman'" [font-size]="18">
                    </amexio-chart-legend>

                </amexio-chart-bar>

            </amexio-body>

            <amexio-action>

            </amexio-action>
        </amexio-card>
    </amexio-column>
    <amexio-column size="5">
        <amexio-card [footer]="true" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
            <amexio-header>
                Daily Activities
            </amexio-header>
            <amexio-body>
                <amexio-chart-pie [data]="dailyActivitieschartLocalData" [height]="'400px'" [width]="'100%'">
                    <amexio-chart-title [title]="'Daily Activities'" [font-size]="15" [bold]="false" [italic]="false">
                    </amexio-chart-title>

                    <amexio-chart-legend [max-lines]="2" [font-name]="'Times-Roman'" [font-size]="18" [bold]="false">
                    </amexio-chart-legend>

                </amexio-chart-pie>

            </amexio-body>

            <amexio-action>

            </amexio-action>
        </amexio-card>
    </amexio-column>
</amexio-row>