<amexio-row>
    <amexio-column size="8">
        <amexio-datagrid [page-size]="8" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/country/findall'" [http-method]="'get'">
            <amexio-data-table-column [text]="'Country Name'" [data-index]="'countryName'" [data-type]="'string'">
            </amexio-data-table-column>
            <amexio-data-table-column [text]="'Country Code'" [data-index]="'countryCode1'" [data-type]="'string'">
            </amexio-data-table-column>
        </amexio-datagrid>
    </amexio-column>
    <amexio-column size="4">
        <amexio-listbox [data]="employee_Data" [search-placeholder]="'Search contact'" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/emp/findall'" [http-method]="'get'" [display-field]="'firstName'" [header]="'Employees'">
        </amexio-listbox>
    </amexio-column>
</amexio-row>