<amexio-datagrid [title]="'Employee Details'" [page-size]="50" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/emp/findall'" [http-method]="'get'" [enable-column-fiter]="true">
    <amexio-data-table-column [text]="'First Name'" [data-index]="'firstName'" [data-type]="'string'">
    </amexio-data-table-column>
    <amexio-data-table-column [text]="'Last Name'" [data-index]="'lastName'" [data-type]="'string'">
    </amexio-data-table-column>
    <amexio-data-table-column [text]="'Age'" [data-index]="'age'" [data-type]="'string'">
    </amexio-data-table-column>
</amexio-datagrid>