<amexio-card [footer]="true" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
    <amexio-header>
        Employee
    </amexio-header>
    <amexio-body>
        <amexio-row>
            <amexio-column size="6">
                <amexio-text-input [field-label]="'First Name'" [(ngModel)]="employeeregistrationModel.firstName" name="employeeregistrationModel.firstName" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
                </amexio-text-input>
            </amexio-column>
            <amexio-column size="6">
                <amexio-text-input [field-label]="'Last Name'" [(ngModel)]="employeeregistrationModel.lastName" name="employeeregistrationModel.lastName" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
                </amexio-text-input>
            </amexio-column>
        </amexio-row>

        <amexio-row>
            <amexio-column size="6">
                <amexio-radio-group [field-label]="'Gender'" name="employeeregistrationModel.genderId" [display-field]="'genderLabel'" [value-field]="'genderId'" [data]="radiogroupData" [horizontal]="true">
                </amexio-radio-group>
            </amexio-column>
            <amexio-column size="6">
                <amexio-number-input [field-label]="'Age'" [(ngModel)]="employeeregistrationModel.age" name="employeeregistrationModel.age" [allow-blank]="true" [font-size]="10" [has-label]="true" [min-value]="0" [max-value]="20">
                </amexio-number-input>
            </amexio-column>
        </amexio-row>

        <amexio-row>
            <amexio-column size="6">
                <amexio-text-input [field-label]="'Phone'" [(ngModel)]="employeeregistrationModel.phone" name="employeeregistrationModel.phone" [allow-blank]="true" [min-length]="0" [max-length]="20" [font-size]="10" [has-label]="true">
                </amexio-text-input>
                <amexio-dropdown [(ngModel)]="employeeregistrationModel.departmentId" name="employeeregistrationModel.departmentId" [search]="true" [field-label]="'Departmen'" [http-url]="'https://uat.amexio.org:8991/rest-sample-app/api/dept/findall'" [http-method]="'get'"
                    [data]="departmentId_Data" [display-field]="'name'" [value-field]="'id'">
                </amexio-dropdown>
            </amexio-column>
            <amexio-column size="6">
                <amexio-email-input [field-label]="'Email'" [(ngModel)]="employeeregistrationModel.email" name="employeeregistrationModel.email" [allow-blank]="true" [font-size]="10" [has-label]="true">
                </amexio-email-input>
            </amexio-column>
        </amexio-row>


    </amexio-body>

    <amexio-action>
        <amexio-button [label]="'Cancel'" [icon]="'fa fa-close fa 2x'" [type]="'default'" [tooltip]="'cancel'" [size]="'default'" [form-bind]="'cancel'">
        </amexio-button>
        <amexio-button [label]="'Save'" [icon]="'fa fa-save fa 2x'" [type]="'theme-color'" [tooltip]="'button'" [size]="'default'" [form-bind]="'save'" (click)="click_save($event)">
        </amexio-button>

    </amexio-action>
</amexio-card>