<amexio-row>
    <amexio-column size="6">
        <amexio-card [footer]="false" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
            <amexio-header>
                Company Performance
            </amexio-header>
            <amexio-body>
                <amexio-chart-bar [data]="companyActichartLocalData" [height]="'400px'" [width]="'100%'">

                    <amexio-chart-title [title]="'Company Performance'" [font-size]="15">
                    </amexio-chart-title>

                    <amexio-chart-legend [max-lines]="2" [font-name]="'Times-Roman'" [font-size]="18">
                    </amexio-chart-legend>

                </amexio-chart-bar>

            </amexio-body>

        </amexio-card>
    </amexio-column>
    <amexio-column size="6">
    </amexio-column>
</amexio-row>