<!--The content below is only a placeholder and can be replaced.-->

<amexio-row>
  <amexio-column [size]=4>
    
  </amexio-column>
  <amexio-column [size]=4>
    <amexio-card [header]="true" [footer]="false" [footer-align]="'center'">
      <amexio-header>
        Welcome to {{ title }}!
      </amexio-header>
      <amexio-body>
        <img alt="Amexio" src="https://image.ibb.co/kdy6Ev/logo.png">
      </amexio-body>
    </amexio-card>
  </amexio-column>
  <amexio-column [size]=4>
    
  </amexio-column>
</amexio-row>
